.logo {
  justify-content: center;
  letter-spacing: -2px;
  align-items: center;
  font-weight: 500;
  display: flex;
  text-shadow: 2px 5px 3px rgba(33, 35, 38, 0.18);
  background: linear-gradient(
    86deg,
    rgba(89, 6, 193, 1) 0%,
    rgba(27, 27, 108, 0.9976365546218487) 40%,
    rgba(97, 2, 112, 1) 67%,
    rgba(89, 6, 193, 1) 100%
  );
  background-size: 100%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-background-clip: text;
  animation-duration: 30s;
  animation-name: title;
}

// Animation title
@keyframes title {
  0% {
    background-position: left 0px top 10px;
  }
  100% {
    background-position: left 1000px top 10px;
  }
}
