@import '../../css/variables.css';

.about {
  border: 1px solid red;
  min-height: 100vh;
  padding: 100px 0;
}
.wrapper {
  padding-right: 8rem;
  padding-left: 8rem;
  position: relative;
}
.photo-block {
  max-width: 668px;
  height: auto;
}
.photo {
  border-radius: 4px;
}
.info {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  max-width: 800px;
  padding: 40px;
  width: 100%;
  left: 60rem;
}
.text {
  letter-spacing: 0.3rem;
  color: var(--c-white);
  line-height: 4.1rem;
  font-size: 2.6rem;
  font-weight: 300;
}