:root {
  --c-silver-night: #2C2C2D;
  --c-gold-brown: #eabe7b;
  --c-green-blued:#49d4b9;
  --c-bg: #141516;
  --c-white: #fff;


  --tr-cubic-fast: .3s cubic-bezier(.8, .5, .2, 1.4);
  --tr-base: all 0.3s ease-in-out;
}