@import '../../css/variables.css';

.intro {
    overflow-x: hidden;
}
.wrapper {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.3em;
  padding-right: 8rem;
  padding-left: 8rem;
  display: flex;
  height: 100vh;
}
.info {
  position: relative;
  z-index: 2;
}
.title {
  font-family: 'DM Serif Display', serif;
  color: var(--c-white);
  max-width: 92.5rem;
  font-weight: 400;
  font-size: 9rem;
}

.intro-social {
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: left bottom;
  left: calc(100% - 6rem);
  position: absolute;
  z-index: 1;
  top: 50%;
 
}
.social-list {
  text-transform: uppercase;
  list-style-type: none;
  color: var(--c-white);
  font-size: 1.2rem;
  column-gap: 4rem;
  display: flex;
}
.social-link {
  transition: var(--tr-base);
  letter-spacing: .5rem;
  text-decoration: none;
  color: inherit;
}
.social-link:hover {
  color: var(--c-gold-brown);
}

.arrow {
  position: absolute;
  cursor: pointer;
  display: block;
  height: 2.8rem;
  width: 2.8rem;
  bottom: 10rem;
  right: 10rem;
  z-index: 3;
}
.arrow-link svg{
  transition: var(--tr-base);
  fill: var(--c-white);
}
.arrow-link:hover svg {
  fill: var(--c-green-blued);
}


@media (max-width: 1280px) {
  .title {
    font-size: 8rem;
  }
}
@media (max-width: 1024px) {
  .title {
    max-width: 63.5rem;
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }
  .intro-social {
    transform: rotate(0deg) translateX(0%);
    position: static;
    margin-top: 5rem;
  }
  .social-list {
    justify-content: space-between;
    column-gap: 1rem;
    font-size: 1rem;
  }
  .title {
    max-width: 50.5rem;
    font-size: 4rem;
  }
  .arrow {
    bottom: 4rem;
    right: 4rem;
  }
}
@media (max-width: 480px) {
  .title {
    max-width: 30.5rem;
    font-size: 3.5rem;
  }
  .social-list {
    font-size: .8rem;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}
