@import '../../styles/variables.scss';

.header {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.wrapper {
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: center;
  padding-top: 15px;
  display: flex;
}
.logo {
  text-decoration: none;
  font-size: 55px;
}
.info {
  align-items: center;
  display: flex;
}
.qrcode {
  margin-right: 30px;
  align-items: center;
  max-width: 40px;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.link {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: $tr-normal-linear;
  background-color: transparent;
  text-decoration: none;
  border-radius: 12px;
  align-items: center;
  letter-spacing: 1px;
  padding: 5px 35px;
  color: #272727;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  outline: none;
  height: 50px;
  &:hover {
    background-color: $c-white;
  }
}

@media (max-width: 768px) {
  .link {
    padding-right: 15px;
    padding-left: 15px;
    height: 40px;
  }
  .qrcode {
    margin-right: 15px;
    max-width: 30px;
  }
}
