@import './variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-f, sans-serif;
  background-color: $c-bg-body;
}

img {
  width: 100%;
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
